{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body class="goto-here">
        
    <!-- END nav -->

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Cart Products</p>
            </div>
        </div>
    </div>
    <!--  End Page Header -->


    <!-- users shop cart -->
    <div class="row px-xl-5 pb-3">
            {% if msg %}
                <b style="color: blue">{{msg}}</b>
            {% endif %}
            {% if carts %}
            {% for i in carts %}
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="{{i.product.product_pic.url}}" style="width: 500px; height: 300px;" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{i.product.product_brand}}</h6>
                        <h6 class="text-truncate mb-3">{{i.product.product_name}}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>₹{{i.product.product_price}}</h6><h6 class="text-muted ml-2"><del></del></h6>
                        </div>

                        <div >
                                        <form name="change qty" method="post" action="{% url 'change-qty' %}"> 
                                            {% csrf_token %}
                                            <p class="price">
                                                <span>
                                                    <input type="hidden" name="cid" value="{{i.pk}}">
                                                    Product Qty: <input type="number" name="product_qty" value="{{i.product_qty}}" min="1" max="10" onchange="this.form.submit();">
                                                </span>
                                            </p>

                                        </form>
                        </div>
                        <div class="pricing">
                                        <p class="price"><span>Total Price: ₹{{i.total_price}}</span></p>
                        </div>
                        <a href="{% url 'product-details' pk=i.pk %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                    </div>            
                </div>
            </div>   
            {% endfor %}
            {% else %}
                <h1>Cart Is Empty</h1>
            {% endif %} 
           <div class="col-lg-8 col-md-8 col-sm-12 pb-1">
                <dir>
                    <h2>Net Price: {{net_price}}</h2> 
                </dir>
                <div>
                    <form method="post" class="text-center">
                        <input type="hidden" id="net_price" name="amount" value="{{net_price}}">
                        <button type="button" class="btn btn-lg btn-primary" id="checkout-button">Checkout</button>
                    </form>    
                </div>
             </div>   
        </div>
        

    <script type="text/javascript">

    var stripe = Stripe('pk_test_51NY5frSF8Qfn55jutrazvjjjSkB9PzKsk0kMwpIRtv7GKs3dPaJUCcbGW4uEdpxiMlBDuX5iQZaLSfYdH2iVHZ7i000Lc4RAEU');
    var checkoutButton = document.getElementById('checkout-button');

 checkoutButton.addEventListener('click', function() {
 
 
 fetch('/create-checkout-session/', {
 method: 'POST',
    headers:{
          'Accept': 'application/json',
          'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()

    },
    body: JSON.stringify({'post_data':'{{net_price}}'})
 })
 .then(function(response) {
 return response.json();
 })
 .then(function(session) {
 return stripe.redirectToCheckout({ sessionId: session.id });
 })
 .then(function(result) {
 // If `redirectToCheckout` fails due to a browser or network
 // error, you should display the localized error message to your
 // customer using `error.message`.
 if (result.error) {
 alert(result.error.message);
 }
 })
 .catch(function(error) {
 console.error('Error:', error);
 });
 });
 </script>

    
  </body>
</html>
{% endblock %}




