{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    
</head>

<body class="goto-here">
        

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">View Product</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0"> User View Products</p>
            </div>
        </div>
    </div>
    <!--  End Page Header -->


   
        
        
    <!-- Shop End -->

    <!-- shop item start -->
    <div class="container-fluid pt-5" style="background-color: lightgray">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Products</span></h2>
        </div>


        <div class="row px-xl-5 pb-3">
            {% if msg %}
                <b style="color: blue">{{msg}}</b>
            {% endif %}
            {% for i in products %}
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="{{i.product_pic.url}}" style="width: 500px; height: 300px;" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{i.product_brand}}</h6>
                        <h6 class="text-truncate mb-3">{{i.product_name}}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>₹{{i.product_price}}</h6><h6 class="text-muted ml-2"><del></del></h6>
                        </div>
                    </div>
                    {% if request.session.email %}
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="{% url 'product-details' pk=i.pk %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>

                        <a href="{% url 'add-to-cart' pk=i.pk %}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                    {% else %} 
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="{% url 'login' %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>

                        <a href="{% url 'login' %}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                    {% endif %}  
                    </div>
                </div>
            </div>
            {% endfor %}
           </div>
        </div>

        <div class="col-12 pb-1">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mb-3">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
<!-- Shop End -->
   
<!--product categories -->
    <div class="col-md-4 col-lg-2">
        <div class="sidebar">
            <div class="sidebar-box-2">
                <h2 class="heading" >CATEGORIES</h2>
                <div class="fancy-collapse-panel">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">    
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a href="{% url 'shirts' %}">SHIRTS</a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a href="{% url 'jeans' %}">JEANS</a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a href="{% url 'tshirts' %}">T-SHIRTS</a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a href="{% url 'jackets' %}">JACKETS</a>
                        </h4>
                    </div>
                </div>
            </div>
                </div>
            </div>                  
        </div>
    </div>


    <!-- Footer Start -->
    
    <!-- Footer End -->


    <!-- Back to Top -->
   

    <!-- JavaScript Libraries -->
    
    <!-- Contact Javascript File -->
   
    <!-- Template Javascript -->
   
</body>

</html>
{% endblock %}